.App {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.lineContainer {
  display: flex;
  background-color: black;
  position: relative;
  width: 300px;
  height: 88px;
}

.line {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
  position: absolute;
  left: 0px;
  top: 0px;
  perspective: 100px;
}

.line > div {
  /* background-color: red; */
  height: 15px;
  width: 15px;
  position: relative;
}

.line > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  border-radius: 50%;
}

.topLine > div {
  animation: move 3s ease-in-out infinite;
}

.topLine > div::before {
  animation: grow1 3s linear infinite reverse;
}

.bottomLine > div {
  animation: move 3s ease-in-out infinite;
}

.bottomLine > div::before {
  background-color: red;
  animation: grow2 3s linear infinite;
}

.line > div:nth-child(15n + 14) {
  animation-delay: 0.4s;
}
.line > div:nth-child(15n + 13) {
  animation-delay: 0.3s;
}
.line > div:nth-child(15n + 12) {
  animation-delay: 0.2s;
}
.line > div:nth-child(15n + 11) {
  animation-delay: 0.1s;
}
.line > div:nth-child(15n + 10) {
  animation-delay: 0s;
}
.line > div:nth-child(15n + 9) {
  animation-delay: -0.1s;
}
.line > div:nth-child(15n + 8) {
  animation-delay: -0.2s;
}
.line > div:nth-child(15n + 7) {
  animation-delay: -0.3s;
}
.line > div:nth-child(15n + 6) {
  animation-delay: -0.4s;
}
.line > div:nth-child(15n + 5) {
  animation-delay: -0.5s;
}
.line > div:nth-child(15n + 4) {
  animation-delay: -0.6s;
}
.line > div:nth-child(15n + 3) {
  animation-delay: -0.7s;
}
.line > div:nth-child(15n + 2) {
  animation-delay: -0.8s;
}
.line > div:nth-child(15n + 1) {
  animation-delay: -0.9s;
}

.bottomLine > div:nth-child(15n + 14) {
  animation-delay: 1.15s;
}
.bottomLine > div:nth-child(15n + 13) {
  animation-delay: 1.05s;
}
.bottomLine > div:nth-child(15n + 12) {
  animation-delay: 0.95s;
}
.bottomLine > div:nth-child(15n + 11) {
  animation-delay: 0.85s;
}
.bottomLine > div:nth-child(15n + 10) {
  animation-delay: 0.75s;
}
.bottomLine > div:nth-child(15n + 9) {
  animation-delay: 0.65s;
}
.bottomLine > div:nth-child(15n + 8) {
  animation-delay: 0.55s;
}
.bottomLine > div:nth-child(15n + 7) {
  animation-delay: 0.45s;
}
.bottomLine > div:nth-child(15n + 6) {
  animation-delay: 0.35s;
}
.bottomLine > div:nth-child(15n + 5) {
  animation-delay: 0.25s;
}
.bottomLine > div:nth-child(15n + 4) {
  animation-delay: 0.15s;
}
.bottomLine > div:nth-child(15n + 3) {
  animation-delay: 0.05s;
}
.bottomLine > div:nth-child(15n + 2) {
  animation-delay: -0.05s;
}
.bottomLine > div:nth-child(15n + 1) {
  animation-delay: -0.15s;
}

/* @keyframes moveGrow0 {
  0% {
    transform: translateY(0px) scaleX(0.7) scaleY(0.7);
  }
  25% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(0px) scaleX(0.7) scaleY(0.7);
  }
  75% {
    transform: translateY(100px) scaleX(0.7) scaleY(0.7);
  }
  100% {
    transform: translateY(0px) scaleX(0.7) scaleY(0.7);
  }
  10%,
  60% {
    transform: scaleX(1) scaleY(1);
  }
  35%,
  85% {
    transform: scaleX(0.4) scaleY(0.4);
  }
} */

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(88px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(88px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes grow1 {
  0%,
  50%,
  75%,
  100% {
    transform: scaleX(0.7) scaleY(0.7);
    background-color: rgb(193, 193, 128);
  }
  10%,
  60% {
    transform: scaleX(1) scaleY(1);
    background-color: yellow;
  }
  35%,
  85% {
    transform: scaleX(0.4) scaleY(0.4);
    background-color: yellow;
  }
}

@keyframes grow2 {
  0%,
  50%,
  75%,
  100% {
    transform: scaleX(0.7) scaleY(0.7);
    background-color: rgb(209, 146, 146);
  }
  10%,
  60% {
    transform: scaleX(1) scaleY(1);
    background-color: red;
  }
  35%,
  85% {
    transform: scaleX(0.4) scaleY(0.4);
    background-color: red;
  }
}
